/* CharacterArea.css */
/*.detailStatusGrid { */
    /* display: grid; */

    /* 2 columns defined */
    /* grid-template-columns: 1fr 1fr; */

    /* Space between grid items */
    /* gap: 10px;  */

    /* Space below the grid container */
    /* margin-bottom: 20px; */
/* } */

/* .base-status {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
} */

.status-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 3px;
    height: auto;
}

.status-row label {
    margin-right: 5px;
    white-space: nowrap;
}

/* .status-grid {
    display: grid; */
    /* 2 columns of equal width */
    /* grid-template-columns: repeat(2, 1fr);
    gap: 10px;
} */

.status-cell {
    display: flex;
    align-items: center;
}

.status-cell label {
    margin-right: 5px;
    white-space: nowrap;
}
