/* CharacterArea.css */
.detailStatusGrid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columns defined */
    gap: 10px; /* Space between grid items */
    margin-bottom: 20px; /* Space below the grid container */
}

.character-container {
    display: flex;
    flex-direction: column;
}

.status-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: auto;
}

.status-row label {
    margin-right: 5px;
    white-space: nowrap;
}

.status-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns of equal width */
    gap: 10px;
}

.status-cell {
    display: flex;
    align-items: center;
}

.status-cell label {
    margin-right: 5px;
    white-space: nowrap;
}

/* General styles for TextField that can be adjusted as needed */
.MuiTextField-root {
    /* width: 100%; */ /* Adjust width as needed */
}